.woocommerce-checkout {
  width: 100%;
}

#piq-checkout-wrapper {
  width: 100%;
  display: flex;
}

#piq-checkout {
  transition: opacity .1s ease-in;
  opacity: 1;
  transition-delay: 1.6s;
  width: 500px;
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

#piq-order-review {

}